#form-reset-pass {
    width: 265px;
    margin: 150px auto;
    text-align: center;
    padding: 30px 20px 20px 20px;
    border-radius: 3px;
    background-color: #f7f7f7;
}

#reset-pass #email {
    display: block;
    padding: 5px 10px;
    margin-bottom: 9px;
    width: 100%;
    background-color: #fff;
    border: none;
}

#reset-pass #btn-reset {
    display: block;
    width: 100%;
    background-color: #4fa327;
    border: none;
    padding: 10px 0px;
    margin: 15px 0px 10px;
    color: #fff;
}

#btn-login,
#btn-reg {
    color: #67a0b7;
    text-decoration: underline;
}

#btn-login {
    border-right: 2px solid black;
    padding-right: 5px;
}

h1.page-title {
    font-size: 18px;
    padding: 0px 0px 20px;
    text-transform: uppercase;
}

.error {
    color: red;
}